:root{
    scroll-behavior: smooth;
}

body{
    background-color: #959a96;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div{
    border:1px solid black;
    
    padding: 30px;
    color: white;
}

.container{
    max-width:900px;
    margin:auto; 
    padding:0;
}

.topo{
    background-color: #1a4301;
    text-align: center;
}
.nav{
    background-color: #245501;
    display:flex;
    justify-content:space-around;
}
.principal{
    background-color: #538d22;
    text-align: center;
}
.rodape{
    background-color: #73a942;
    text-align: center;
}
.criacao{
    background-color: #143601;
    text-align:justify;
}

.criacao h1{
    text-align: center;
}

.sobre{
    background-color: #aad576;
    text-align: center;
}